body {
   margin: 0 auto;
   font-family:Georgia, 'Times New Roman', Times, serif;
   padding: 0;
   text-align: center;
   background-color: #1F2937;
   color: #fff;
   /* sub text will be #D2D2D2 */
}

.top-container {
   background: linear-gradient(to right,#585DFE, rgb(191, 81, 134));
   height: 450px;
   width: 100%;
   margin: 0;
}

h1 {
   margin:0 auto;
   padding-top: 80px;
   font-size:51px;
}

#inputUnitDisplay {
   font-size: 97.57px;
   font-weight: 800;
}

.unit-count {
   font-size: 52px;
   font-weight: 400;
}


#details-section{
   padding: 20px;
   margin: 10px;
}

#unit-blocks{
   padding: 20px;
}

p{
   font-weight: 400;
   letter-spacing: 1px;
   font-size: 18px;
}